<a routerLink="/animal/add"> <button>Add</button></a>
<p *ngIf='animals.length == 0'>loading</p>
<ul *ngFor='let animal of animals'>
    <li>{{animal.name}} - {{animal.dateOfBirth}}</li>
    <a routerLink='/animal/edit/{{animal.id}}'><button>Edit</button></a>
    <button mat-fab color="primary" style="background-color: red" aria-label="Example icon button with a delete icon" (click)="delete(animal.id)">
        <mat-icon>delete</mat-icon>
    </button>
</ul>
