<form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Add Animal</h1>
  
    <input formControlName="name" type="name" class="form-control" placeholder="name" required>
  
    <input formControlName="dateOfBirth" type="date" class="form-control" placeholder="date" >
  
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  </form>
  
